# Healthcheck listener
listen healthcheck_{{ name }}
	mode http

{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:{{ bind.port|default("80") }}
{% endfor %}
	monitor-uri {{ proxy.uri|default("/healthcheck.htm") }}
