
# Stats listener
listen listen_stats
	mode http
{% for bind in proxy.frontend.bind %}
	bind {{ bind.ip }}:{{ bind.port }} ssl crt {{ bind.crt }}
{% endfor %}
	stats enable
{% if proxy.realm is defined %}
	stats realm {{ proxy.realm }}
{% endif %}
	stats uri {{ proxy.uri|default("/?stats") }}
{% if proxy.auth is defined %}
	stats auth {{ proxy.auth }}
{% endif %}
	stats hide-version
